{% extends 'layout.html.twig' %}
{% block content %}
    <section class="cart-page" id="app" v-cloak>
        <div class="container">
            <div class="row">
                <div class="col-lg-12" v-if="cartItems.length==0">
                    {{ 'empty_cart' | getText('Корзина') | raw  }}
                </div>
                {{  form_start(form, {'attr': { 'class': 'col-lg-12', 'v-if': 'cartItems.length>0'} }) }}
                    <table>
                        <thead>
                        <tr>
                            <th>Фото</th>
                            <th>Название</th>
                            <th>Цена</th>
                            <th>Кол-во</th>
                            <th>Итог</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item, index) in cartItems">
                            <td>
                                <a v-bind:href="item.path" class="image">
                                    <img v-bind:src="item.image" v-if="item.image">
                                </a>
                            </td>
                            <td>
                                <a v-bind:href="item.path" class="title">
                                    <% item.menutitle %>
                                </a>
                            </td>
                            <td>Цена:  <b><% numberFormat(item.price) %></b> ₽</td>
                            <td>
                                <div class="number">
                                    <span class="minus" v-on:click="minus(index)">-</span>
                                    <input type="text" v-model="item.quantity" digitonly="true"/>
                                    <span class="plus" v-on:click="plus(index)">+</span>
                                </div>
                            </td>
                            <td>Цена:  <b><% numberFormat(item.price * item.quantity) %></b> ₽</td>
                            <td><button class="btn-del" v-on:click="remove(index)"><i class="demo-icon icon-close"></i></button></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="total-panel">Сумма:  <b><% numberFormat(total) %></b> ₽</div>
                    <section class="order-form-block">
                    <div class="container">
                        <div class="row">
                            {{ form_start(form, {'attr': { 'class': 'col-lg-12', 'v-if': 'cartItems.length>0' }}) }}
                            <div class="wrap">

                                    <div class="order-form form">
                                        <h3>{{ 'forms_cart_title' | getString('Корзина') }}</h3>
                                        <div class="wrapper">
                                            <div class="item-input">
                                                <legend>{{ 'forms_label_name' | getString('Корзина') }} <span>*</span></legend>
                                                {{ form_widget(form.name) }}
                                                {{ form_errors(form.name) }}
                                            </div>
                                            <div class="item-input">
                                                <legend>{{ 'forms_label_phone' | getString('Корзина') }}</legend>
                                                {{ form_widget(form.phone, {'attr': {'class': 'tel-input', 'placeholder': 'forms_placeholder_phone' | getString('Корзина'), 'data-validate': '' } }) }}
                                                {{ form_errors(form.phone) }}
                                            </div>
                                            <div class="item-input">
                                                <legend>{{ 'forms_label_email' | getString('Корзина') }} <span>*</span></legend>
                                                {{ form_widget(form.email) }}
                                                {{ form_errors(form.email) }}
                                            </div>
                                            <div class="item-input">
                                                <legend>{{ 'forms_label_delivery' | getString('Корзина') }} <span>*</span></legend>
                                                {{ form_widget(form.address) }}
                                                {{ form_errors(form.address) }}
                                            </div>
                                            <div class="item-input">
                                                <legend>{{ 'forms_label_text' | getString('Корзина') }}</legend>
                                                {{ form_widget(form.text) }}
                                                {{ form_errors(form.text) }}
                                            </div>
                                            <div class="item-input ">
                                                {{  form_widget(form.policy, {'attr': {'class': 'js_policy_chekbox checkbox'} })  }}
                                                <label for="order_policy">
                                                    {% set policy = 'policy_page' | pageByDiscr %}
                                                    {% if policy %}
                                                        <a href="{{ sitePath(policy.route) }}" target="_blank">
                                                            {{ 'forms_label_policy' | getString('Корзина') }}
                                                        </a>
                                                    {% else %}
                                                        {{ 'forms_label_policy' | getString('Корзина') }}
                                                    {% endif %}
                                                </label>
                                                {{ form_errors(form.policy) }}
                                            </div>
                                            <button type="submit"
                                                    data-reachgoal="submit_cart_form"
                                                    class="btn btn-red btn-send js-reachgoal">Отправить</button>
                                        </div>
                                    </div>
                                    <div class="order-text-block">
                                        {{ page.text | raw }}
                                    </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </section>
               {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
{% block seo %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var cartVue = new Vue({
            delimiters: ['<%', '%>'],
            el: '#app',
            data: {
                cartItems: {{ cartItems | json_encode | raw }},
                deliveryType: 'pickup', // Самовывоз* - pickup,  Курьер - carrier,  Транспортной компанией - company
                paymentType: 'bill', // наличные - cash,  Банковской картой при получении - card,  Безналичный расчет (выставить счет) - bill
            },
            methods: {
                numberFormat: function (number) {
                    return (new Intl.NumberFormat().format(number)).toString();
                },
                plus: function (index) {
                    console.error('plus', this.cartItems[index].quantity);
                    if (this.cartItems[index]) {
                        this.cartItems[index].quantity++;
                        window.cart.add(this.cartItems[index].id, 1);
                        console.error('plus2', this.cartItems[index].quantity);
                    }
                },
                minus: function (index) {
                    console.error('minus', this.cartItems[index].quantity);
                    if (this.cartItems[index]) {
                        if (cartItems[index].quantity > 1) {
                            this.cartItems[index].quantity--;
                            window.cart.add(this.cartItems[index].id, -1);
                            console.error('minus2', this.cartItems[index].quantity);
                        }
                    }
                },
                remove: function (index) {
                    if (this.cartItems[index]) {
                        window.cart.add(this.cartItems[index].id, -1 * this.cartItems[index].quantity);
                        this.cartItems.splice(index, 1);
                    }
                },
                updateCart: function (index) {
                    if (this.cartItems[index]) {
                        window.cart.updateItems(this.cartItems[index].id, this.cartItems[index].quantity);
                    }
                },
                setDelivery: function () {
                    document.getElementById('order_delivery').value = this.deliveryType;
                },
                setPayment: function () {
                    document.getElementById('order_payment').value = this.paymentType;
                }
            },
            computed: {
                total: function () {
                    return this.cartItems.reduce(function (total, item) {
                        return total + item.quantity * item.price;
                    }, 0)
                }
            }
        });
    </script>
{% endblock %}
