<div class="overlay overlay_price js-overlay_price">
    <div class="modal__close"></div>
    <div class="modal modal-callback js-modal-callback-price">
        <div class="modal-callback__title">{{ 'Узнайте стоимость вашей идеи' | getString('Узнать стоимость') }}</div>
        <div class="modal-callback__desc">{{ 'Отправьте ваши контактные данные и мы свяжемся с вами' | getString('Узнать стоимость') }}</div>
        {{ form_start(form, {'attr': { 'class': 'modal-callback__form', 'data-ajax_valid_path': path('app_main.ajax_ajax_validform', { 'type' : 'message'}) } }) }}
        <div class="modal-callback__row">
            <div class="modal-callback__field js_wrap_input">
                <label class="modal-callback__label">{{ 'Ваше имя' | getString('Обратный звонок') }}</label>
                {{ form_widget(form.name, {'attr' : {'class': 'modal-callback__input' }}) }}
                <div class="error">{{ 'Введите Ваше имя' | getString('Обратный звонок') }}</div>
            </div>
            <div class="modal-callback__field js_wrap_input">
                <label class="modal-callback__label">{{ 'Номер телефона' | getString('Обратный звонок') }}</label>
                {{ form_widget(form.phone, {'attr' : {'class': 'modal-callback__input' }}) }}
                <div class="error">{{ 'Введите Ваш номер телефона' | getString('Обратный звонок') }}</div>
            </div>
            <div class="modal-callback__field js_wrap_input">
                <label class="modal-callback__label">{{ 'Электронная почта' | getString('Обратный звонок') }}</label>
                {{ form_widget(form.email, {'attr' : {'class': 'modal-callback__input' }}) }}
                <div class="error">{{ 'Введите Ваш email' | getString('Обратный звонок') }}</div>
            </div>
            <div class="modal-callback__field js_wrap_input">
                {{  form_widget(form.policy, {'attr': {'class': 'js_policy_chekbox checkbox'} })  }}
                <label for="callback_mail_policy">
                    {% set policy = 'policy_page' | pageByDiscr %}
                    {% if policy %}
                        <a href="{{ sitePath(policy.route) }}" target="_blank">
                            {{ 'forms_label_policy' | getString('Обратный звонок') }}
                        </a>
                    {% else %}
                        {{ 'forms_label_policy' | getString('Обратный звонок') }}
                    {% endif %}
                </label>
            </div>
        </div>
        <input type="submit" class="modal-callback__submit button" value="{{ 'Отправить' | getString('Обратный звонок') }}">
        {{ form_end(form) }}
    </div>
</div>
