{% extends 'layout.html.twig' %}
{% block content %}
    <section class="banner">
        <div class="container-outer">
            <div class="container">
                <div class="banner__wrap">
                    <div class="banner__info">
                        <h1 class="banner__title">{{ page.h1 | raw }}</h1>
                        <p class="banner__text">{{ page.subTitle }}</p>
                        {% if page.link and page.linkTitle %}
                        <a href="{{ page.link }}" class="link">
                            <span>{{ page.linkTitle }}</span>
                            <span class="arrow"></span>
                        </a>
                        {% endif %}
                    </div>
                    <div class="banner__slider-wrap">
                        <div class="banner__slider slider" id="banner-slider">
                            {% for item in mainItems %}
                            <div class="banner__slider-item-wrap">
                                <div class="banner__slider-item">
                                    <div class="banner__slider-img img">
                                        <img src="{{ item.getWebPath('image') | thumb(500, 528) }}"
                                             alt="{{ item.name }}">
                                    </div>
                                    <div class="banner__slider-info">
                                        {% if item.link %}
                                        <a class="banner__slider-name" href="{{ item.link }}">{{ item.name }}</a>
                                        {% else %}
                                            <div class="banner__slider-name">{{ item.name }}</div>
                                        {% endif %}
                                        <div class="banner__slider-price">{{ item.price }}</div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if portfolio and portfolio.getChildren([portfolioItemClass]) | length > 0 %}
    <section class="block portfolio">
        <div class="container-outer">
            <div class="container">
                <h2 class="title">{{ 'Портфолио' | getString('Главная') }}</h2>
                <div class="block__wrap portfolio__wrap">
                    <p class="block__desc portfolio__desc">
                        {{ 'Портфолио текст на главной' | getText('Главная') | raw }}</p>
                    <a href="{{ sitePath(portfolio.route) }}" class="block__link link">
                        <span>{{ 'Все работы' | getString('Главная') }}</span>
                        <span class="arrow"></span>
                    </a>
                </div>
                <div class="portfolio__gallery mobile-swipe">
                    {% for item in portfolio.getChildren([portfolioItemClass]) if item.onmain%}
                    <a href="{{ sitePath(item.route) }}" class="portfolio__gallery-item">
                        <div class="portfolio__gallery-img img"><img src="{{ item.getWebPath('image2') | thumb(441, 535) }}" alt="gallery-img">
                        </div>
                        <div class="portfolio__gallery-box">
                            <span class="portfolio__gallery-title">{{ item.menutitle }}</span>
                            <p class="portfolio__gallery-desc">{{ item.announce }}</p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <section class="block output">
        <div class="container-outer">
            <div class="container">
                <h2 class="title">{{ 'Готовая продукция' | getString('Главная') }}</h2>
                <div class="block__wrap output__wrap">
                    <p class="block__desc">{{ 'Продукция текст на главной' | getText('Главная') | raw }}</p>
                    <a href="{{ sitePath(catalogMainPage.route) }}" class="block__link link">
                        <span>{{ 'Вся продукция' | getString('Главная') }}</span>
                        <span class="arrow"></span>
                    </a>
                </div>
                <div class="output__gallery mobile-swipe">
                    {% for key, item in catalogMainPage.getChildren([catalogArticleClass]) if item.onmain%}
                        {% if (key + 1)%4 == 1 or (key + 1)%4 == 0 %}
                            {% set img = item.getWebPath('image') | thumb(600, 314) %}
                            {% set class = ' output__gallery-img_big' %}
                        {%  else %}
                            {% set img = item.getWebPath('image2') | thumb(441, 314) %}
                            {% set class = '' %}
                        {% endif %}
                    <a href="{{ sitePath(item.route) }}" class="output__gallery-item">
                        <div class="output__gallery-img{{class }} img">
                            <img src="{{ img }}" alt="{{ item.menutitle }}">
                        </div>
                        <div class="output__gallery-box">
                            <div class="output__gallery-title">{{ item.menutitle }}</div>
                            <div class="output__gallery-desc">{{ item.announce }}</div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <div class="block slider-block__wrap">
        <section class="slider-block mobile-swipe dark" id="slider">
            {% for item in interios %}
            <div class="slider-block__item">
                <div class="container-outer">
                    <div class="container">
                        <div class="slider-block__item-info">
                            <h3 class="slider-block__item-title title">{{ item.menutitle }}</h3>
                            <div class="slider-block__item-greentext">{{ item.company }}</div>
                            <div class="slider-block__item-text">
                                {{ item.announce | raw }}
                            </div>
                            <a href="{{ sitePath(item.route) }}" class="slider-block__item-link link">
                                <span>Подробнее</span>
                                <div class="arrow"></div>
                            </a>
                            <div class="slider-block__item-year">{{ item.year | date("Y") }}</div>
                        </div>
                    </div>
                </div>
                <div class="slider-block__item-img img"><img src="{{ item.getWebPath('image') | thumb(1210, 1080) }}" alt="slider-img"></div>
            </div>
            {% endfor %}
        </section>
        <div class="slider-block__arrow-box">
            {{ source('svg/arrow_left.svg') }}
            <span class="slider-block__counter"></span>
            {{ source('svg/arrow_right.svg') }}
        </div>
    </div>
    {{ include('part/quality.html.twig') }}
    {% if page.arr1 | length %}
    <section class="block partners">
        <div class="container-outer">
            <div class="container">
                <div class="partners__wrap">
                    <div class="partners__left">
                        <span>{{ 'Нам доверяют' | getString('Главная') }}</span>
                        <span class="partner-label">{{ 'Наши клиенты и партнёры' | getString('Главная') | raw }}</span>
                    </div>
                    <div class="partners__info">
                        {% for item in page.arr1 %}
                        <span class="partner">{{ item.title }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    {% if reviewListPage %}
    <section class="block reviews">
        <div class="container-outer">
            <div class="container">
                <h2 class="title reviews__title">{{ 'Отзывы наших клиентов' | getString('Главная') }}</h2>
                <div class="block__wrap reviews__wrap">
                    <p class="block__desc">{{ 'Отзывы текст на главной' | getText('Главная') | raw }}</p>
                    <a href="{{ sitePath(reviewListPage.route) }}" class="block__link link">
                        <span>{{ 'Все отзывы' | getString('Главная') }}</span>
                        <span class="arrow"></span>
                    </a>
                </div>
                <div class="reviews__slider mobile-swipe" id="reviews-slider">
                    {% for item in reviews %}
                    <div class="reviews__slider-item-wrap">
                        <div class="reviews__slider-item">
                            <div class="reviews__slider-img img"><img src="{{ item.getWebPath('image') | thumb(130, 130) }}" alt="{{ item.post }}"></div>
                            <div class="reviews__slider-info">
                                <div class="reviews__slider-position">{{ item.post }}</div>
                                <div class="reviews__slider-name">{{ item.name }}</div>
                                <div class="reviews__slider-text">
                                    {{ item.text | raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div></div>
                </div>
                <div class="reviews__slider-arrow-box">
                    {{ source('svg/arrow_left.svg') }}
                    <span class="reviews__slider-counter"></span>
                    {{ source('svg/arrow_right.svg') }}
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <div class="map">
        <div class="container-outer">
            <div class="container">
                <div class="map__box">
                    <div class="map__box-title title">{{ 'Контакты' | getString('Главная') }}</div>
                    <div class="map__box-container">
                        <a href="tel:{{ contacts.mapPhone   | replace({" ": "", "-": "", "(": "", ")": ""})  }}">{{ contacts.mapPhone }}</a>
                        <a href="mailto:{{ contacts.mapEmail }}">{{ contacts.mapEmail }}</a>
                        <address>{{ contacts.mapAddress | raw }}</address>
                    </div>
                </div>
            </div>
        </div>
        <div id="googleMap" class="map__wrap"></div>
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?apikey={{ contacts.mapKey }}&lang=ru_RU"></script>
    <script>
        function initMap() {
            var point = [{{ contacts.mapLat }}, {{ contacts.mapLng }}];
            var myMap = new ymaps.Map(document.getElementById("googleMap"), {
                center: point,
                zoom: 17
            });
            myMap.behaviors.disable('scrollZoom');
            var myPlacemark = new ymaps.Placemark(point);
            myMap.geoObjects.add(myPlacemark);
        }
        ymaps.ready(initMap);
    </script>
{% endblock %}
