{% extends 'base.html.twig' %}
{% block content %}
  <div class="portfolio-detailed block">
    <div class="container-outer">
      <div class="container">
        <div class="breadcrumbs">
          <a href="/" class="breadcrumbs__link">Главная</a>
          <a href="/portfolio" class="breadcrumbs__link">Портфолио</a>
          <a href="/portfolio/portfolio-detailed" class="breadcrumbs__link">Оборудование для магазина одежды Brioni</a>
        </div>
        <h1 class="page-title portfolio-detailed__title">Оборудование для магазина одежды Brioni</h1>
        <div class="portfolio-detailed__wrap">
          <div class="portfolio-detailed__img img">
            <img src="{{ asset('build/portfolio-detailed.png') }}" alt="Оборудование для магазина одежды Brioni">
          </div>
          <div class="portfolio-detailed__text">Чтобы изделие служило как можно дольше и не теряло свой товарный вид, мы
            с должным вниманием и ответственностью подходим ко всем этапам обработки металла. Для покраски мы используем
            порошковую краску, по нашему мнению, наилучшего качества, международного концерна AkzoNobel. Широкая гамма
            цветов и текстур, позволяет воплотить практически любой замысел дизайнеров. Так же, в скором времени,
            планируем красить жидкими красками в т.ч. под золото, латунь, медь.
          </div>
          <div class="portfolio-detailed__item img">
            <img src="{{ asset('build/gallery-3.png') }}" alt="">
          </div>
          <div class="portfolio-detailed__item portfolio-detailed__item_big img">
            <img src="{{ asset('build/slider-block.png') }}" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-detailed__review">
      <div class="container-outer">
        <div class="container">
          <div class="portfolio-detailed__review-box">
            <div class="reviews__slider-img"><img src="{{ asset('build/review-img-1.png') }}" alt="euro dom"></div>
            <div class="reviews__slider-info">
              <div class="reviews__slider-position">Технический директор Euro Dom</div>
              <div class="reviews__slider-name">Шлопак Михаил</div>
              <div class="reviews__slider-text">Чтобы изделие служило как можно дольше и не теряло свой товарный вид, мы
                с должным вниманием и ответственностью подходим ко всем этапам обработки металла. Для покраски мы
                используем порошковую краску, по нашему мнению, наилучшего качества, международного концерна AkzoNobel.
                Широкая гамма цветов и текстур, позволяет воплотить практически любой замысел дизайнеров. Так же, в
                скором времени, планируем красить жидкими красками в т.ч. под золото, латунь, медь..
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-outer">
      <div class="container">
        <div class="portfolio-detailed__wrap">
          <div class="portfolio-detailed__item img"><img src="{{ asset('build/gallery-1.png') }}" alt="portfolio img"></div>
          <div class="portfolio-detailed__item img"><img src="{{ asset('build/gallery-2.png') }}" alt="portfolio img"></div>
          <div class="portfolio-detailed__item img"><img src="{{ asset('build/gallery-3.png') }}" alt="portfolio img"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}