{% extends 'base.html.twig' %}
{% block content %}
  <div class="portfolio-page block">
    <div class="container-outer">
      <div class="container">
        <div class="breadcrumbs">
          <a href="/" class="breadcrumbs__link">Главная</a>
          <a href="/portfolio" class="breadcrumbs__link">Портфолио</a>
        </div>
        <h1 class="page-title">Портфолио</h1>
        <div class="portfolio-page__wrap">
          <a href="portfolio/portfolio-detailed" class="portfolio-page__item">
            <div class="portfolio__gallery-img img">
              <img src="{{ asset('build/gallery-1.png') }}" alt="gallery-img">
            </div>
            <div class="portfolio__gallery-box">
              <span class="portfolio__gallery-title">Стол и стулья</span>
              <p class="portfolio__gallery-desc">Металлическая мебель для ресторана</p>
            </div>
          </a>
          <a href="portfolio/portfolio-detailed" class="portfolio-page__item">
            <div class="portfolio__gallery-img img">
              <img src="{{ asset('build/gallery-2.png') }}" alt="gallery-img">
            </div>
            <div class="portfolio__gallery-box">
              <span class="portfolio__gallery-title">Стол и стулья</span>
              <p class="portfolio__gallery-desc">Металлическая мебель для ресторана</p>
            </div>
          </a>
          <a href="portfolio/portfolio-detailed" class="portfolio-page__item">
            <div class="portfolio__gallery-img img">
              <img src="{{ asset('build/gallery-3.png') }}" alt="gallery-img">
            </div>
            <div class="portfolio__gallery-box">
              <span class="portfolio__gallery-title">Стол и стулья</span>
              <p class="portfolio__gallery-desc">Металлическая мебель для ресторана</p>
            </div>
          </a>
          <a href="portfolio/portfolio-detailed" class="portfolio-page__item portfolio-page__item_big portfolio-page__item_left">
            <div class="portfolio__gallery-img img">
              <img src="{{ asset('build/slider-block.png') }}" alt="gallery-img">
            </div>
            <div class="portfolio__gallery-box">
              <span class="portfolio__gallery-title">Стол и стулья</span>
              <p class="portfolio__gallery-desc">Металлическая мебель для ресторана</p>
            </div>
          </a>
          <a href="portfolio/portfolio-detailed" class="portfolio-page__item">
            <div class="portfolio__gallery-img img">
              <img src="{{ asset('build/gallery-2.png') }}" alt="gallery-img">
            </div>
            <div class="portfolio__gallery-box">
              <span class="portfolio__gallery-title">Стол и стулья</span>
              <p class="portfolio__gallery-desc">Металлическая мебель для ресторана</p>
            </div>
          </a>
          <a href="portfolio/portfolio-detailed" class="portfolio-page__item">
            <div class="portfolio__gallery-img img">
              <img src="{{ asset('build/gallery-3.png') }}" alt="gallery-img">
            </div>
            <div class="portfolio__gallery-box">
              <span class="portfolio__gallery-title">Стол и стулья</span>
              <p class="portfolio__gallery-desc">Металлическая мебель для ресторана</p>
            </div>
          </a>
          <a href="portfolio/portfolio-detailed" class="portfolio-page__item portfolio-page__item_big portfolio-page__item_right">
            <div class="portfolio__gallery-img img">
              <img src="{{ asset('build/output-3.png') }}" alt="gallery-img">
            </div>
            <div class="portfolio__gallery-box">
              <span class="portfolio__gallery-title">Стол и стулья</span>
              <p class="portfolio__gallery-desc">Металлическая мебель для ресторана</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  {{ include('partials/quality.html.twig') }}
{% endblock %}