<section class="feedback">
    <div class="wrap-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="title"><span>{{  'common_feedback_title' | getString('Отзыв') }}</span></h2>
                    <p>{{  'common_feedback_subtitle' | getString('Отзыв') }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{ form_start(form, {'attr': { 'data-ajax_valid_path': path('app_main.ajax_ajax_validform', { 'type' : 'feedback'}) } }) }}
                <div class="row">
                        <div class="col-lg-4 col-md-6 js_wrap_input">
                            <legend>{{ 'forms_label_name' | getString('Отзыв') }}</legend>
                            {{ form_widget(form.name, {'attr': {'placeholder': 'forms_placeholder_name' | getString('Отзыв'), 'data-validate': ''} }) }}
                            <ul><li>{{ 'forms_error_name' | getString('Отзыв') }}</li></ul>
                        </div>
                        <div class="col-lg-4 col-md-6 js_wrap_input">
                            <legend>{{ 'forms_label_phone' | getString('Отзыв') }}</legend>
                            {{ form_widget(form.phone, {'attr': {'class': 'tel-input', 'placeholder': 'forms_placeholder_phone' | getString('Отзыв'), 'data-validate': '' } }) }}
                            <ul><li>{{ 'forms_error_phone' | getString('Отзыв') }}</li></ul>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <input type="submit" value="{{ 'forms_label_button' | getString('Отзыв') }}" class="btn btn-black">
                        </div>
                    </div>
                    <div class="check js_wrap_input">
                        {{  form_widget(form.policy, {'attr': {'class': 'js_policy_chekbox checkbox'} })  }}
                        <label for="feedback_mail_policy">
                            {% set policy = 'policy_page' | pageByDiscr %}
                            {% if policy %}
                                <a href="{{ sitePath(policy.route) }}" target="_blank">
                                    {{ 'forms_label_policy' | getString('Отзыв') }}
                                </a>
                            {% else %}
                                {{ 'forms_label_policy' | getString('Отзыв') }}
                            {% endif %}
                        </label>
                        <ul><li>{{ 'forms_error_policy' | getString('Отзыв') }}</li></ul>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>
