<footer id="footer" class="footer">
    <div class="container-outer">
        <div class="container">
            <div class="footer__wrap">
                <nav class="footer__nav">
                    {% if bottomMenu | length > 0 %}
                        {% for item in bottomMenu if  item.page or item.link %}
                            {% if item.page %}
                                {% if item.page.active %}
                                    <li>
                                        {% if item.page.id != page.id %}
                                            <a class="footer__link" href="{{ sitePath(item.page.route) }}">{{ item.page.menutitle }}</a>
                                        {% else %}
                                            <span class="footer__link">{{ item.page.menutitle }}</span>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% else %}
                                <li>
                                    {% if item.link %}
                                        <a class="footer__link" href="{{ item.link }}">{{ item.title }}</a>
                                    {% else %}
                                        <span class="footer__link">{{ item.title }}</span>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </nav>
                <a href="http://jazzme.ru/" class="footer__dev">
                    <div class="footer__dev-logo">
                        <img src="{{ asset('build/dev.png') }}" alt="developer logo">
                    </div>
                    <span>Разработка сайта</span>
                </a>
            </div>
        </div>
    </div>
</footer>
