<header id="header" class="header">
    <div class="container-outer">
        <div class="container">
            <div class="header__wrap">
                {% if page.discrString != 'Главная' %}
                    <a class="header__logo" href="{{ sitePath('zema_pages') }}">
                      {{ source('svg/logo.svg') }}
                    </a>
                {% else %}
                    <div class="header__logo">
                      {{ source('svg/logo.svg') }}
                    </div>
                {% endif %}
                <div class="header__contact">
                  <a href="mailto:steelinterrior@yandex.ru" class="header__mail">steelinterrior@yandex.ru</a>
                    <a href="{{ ('Код телефона' | getString('Шапка')) ~ ('Номер телефона' | getString('Шапка'))  | replace({" ": "", "-": "", "(": "", ")": ""})  }}"
                       class="header__phone">
                        <span class="grey">
                            {{ 'Код телефона' | getString('Шапка') }}
                        </span> {{ 'Номер телефона' | getString('Шапка') }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
