<header id="header" class="header">
    <div class="container-outer">
        <div class="container">
            <div class="header__wrap">
                {% if page.discrString != 'Главная' %}
                    <a class="header__logo" href="{{ sitePath('zema_pages') }}">
                        <img src="{{ asset('build/logo.svg') }}"/>
                    </a>
                {% else %}
                    <img src="{{ asset('build/logo.svg') }}"/>
                {% endif %}
                <div class="header__contact">
                    <a data-reachgoal="callback-button"
                       data-type="callback"
                       href="{{ sitePath('app_main.ajax_get_popup', { 'type': 'callback', 'route': page.route }) }}"
                       class="header__callback js-popup-open js-reachgoal">
                        {{ 'Заказать звонок' | getString('Шапка') }}
                    </a>
                    <a href="{{ ('Код телефона' | getString('Шапка')) ~ ('Номер телефона' | getString('Шапка'))  | replace({" ": "", "-": "", "(": "", ")": ""})  }}"
                       class="header__phone">
                        <span class="grey">
                            {{ 'Код телефона' | getString('Шапка') }}
                        </span> {{ 'Номер телефона' | getString('Шапка') }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
