<nav>
    {% for key, item in topMenu %}
        {% if item.page %}
            {% if item.page.active %}
                <li class="side-menu__item">
                    {% if item.page.id != page.id %}
                        <a class="side-menu__link" href="{{ sitePath(item.page.route) }}">{{ item.page.menutitle }}</a>
                    {% else %}
                        <span class="side-menu__link">{{ item.page.menutitle }}</span>
                    {% endif %}
                </li>
            {% endif %}
        {% else %}
            <li class="side-menu__item">
                {% if item.link %}
                    <a class="side-menu__link" href="{{ item.link }}">{{ item.title }}</a>
                {% else %}
                    <span class="side-menu__link">{{ item.title }}</span>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</nav>
