<section id="menu">
    <ul>
        <li>{% if catalog.id != page.id %}
                <a href="{{ sitePath(catalog.route) }}">{{ catalog.menutitle }}</a>
            {% else %}
                <span>{{ catalog.menutitle }}</span>
            {% endif %}
            <ul>
                {% for subitem in  catalog.getChildren([catalogArticleClass]) %}
                    <li>
                        {% if subitem.id == page.id %}
                            <span>{{ subitem.menutitle }}</span>
                        {% else %}
                            <a href="{{ sitePath(subitem.route) }}">{{ subitem.menutitle }}</a>
                        {% endif %}
                        <ul>
                            {% for subsubitem in subitem.getChildren([catalogArticleClass]) %}
                                <li>
                                    {% if subsubitem.id == page.id %}
                                        <span>{{ subsubitem.menutitle }}</span>
                                    {% else %}
                                        <a href="{{ sitePath(subsubitem.route) }}">{{ subsubitem.menutitle }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </li>
        {% for key, item in topMenu %}
            {% if item.page %}
                {% if item.page.active %}
                    <li>
                        {% if item.page.id != page.id %}
                            <a href="{{ sitePath(item.page.route) }}">{{ item.page.menutitle }}</a>
                        {% else %}
                            <span>{{ item.page.menutitle }}</span>
                        {% endif %}
                    </li>
                {% endif %}
            {% else %}
                <li>
                    {% if item.link %}
                        <a href="{{ item.link }}">{{ item.title }}</a>
                    {% else %}
                        <span>{{ item.title }}</span>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</section>
