<table width="100%" border="1">
    <thead>
    <tr>
        <th align="center">Название</th>
        <th align="center">Артикул</th>
        <th align="center">Количетсво</th>
        <th align="center">Цена (шт)</th>
        <th align="center">Сумма</th>
    </tr>
    </thead>
    <tbody>
    {% set summ = 0 %}
    {% for item in products %}
        {% set price = item | getPrice(app.request) %}
        {% set summ = summ +  price * item.cartCount %}
        <tr>
            <td>
                <a href="{{ app.request.schemeAndHttpHost ~ path(item.route) }}">{{ item.menutitle }}</a>
            </td>
            <td align="center">{{ price }}</td>
            <td align="center">{{ item.cartCount }}</td>
            <td align="center">{{ price  | number_format(0, ',', ' ') }}</td>
            <td align="center">{{ (price * item.cartCount)  | number_format(0, ',', ' ') }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td>Итого</td>
        <td></td>
        <td></td>
        <td></td>
        <td align="center">{{ summ  | number_format(0, ',', ' ') }}</td>
    </tr>
    </tbody>
</table>
