{% extends 'base.html.twig' %}
{% block title %}{{ page | defaultTitle(app.request) }}{% endblock %}
{% block keywords %}{{ page.keywords  }}{% endblock %}
{% block description %}{{ page | defaultDescription(app.request) }}{% endblock %}
{% block headmetrika %}{{ 'headmetrika' | getSetting | raw }}{% endblock %}

{% block body %}
    <body>
    {{ render(controller('App\\Controller\\PartController::header', {'request': app.request, 'page': page})) }}
    <main>
        <div class="side-menu">
            <div class="side-menu__burger"><span></span></div>
            <div class="side-menu__copy"><span>&#169;</span> {{ 'Сталь в интерьерах, 2021' | getString('Шапка') }}</div>
            <div class="side-menu__socials">
                <a target="_blank" href="#" class="side-menu__social">
                    {{ source('svg/vk.svg') }}
                </a>
                <a target="_blank" href="#" class="side-menu__social">
                    {{ source('svg/fb.svg') }}
                </a>
                <a target="_blank" href="#" class="side-menu__social">
                    {{ source('svg/inst.svg') }}
                </a>
            </div>
            <div class="side-menu__list" style="background-image: url('{{ asset('/build/menu-bg.svg') }}')">
                {{ render(controller('App\\Controller\\PartController:navigation', {'page': page})) }}
                <a href="{{ ('Код телефона' | getString('Шапка')) ~ ('Номер телефона' | getString('Шапка'))  | replace({" ": "", "-": "", "(": "", ")": ""})  }}"
                   class="side-menu__phone mobile">
                    {{ ('Код телефона' | getString('Шапка')) ~ ('Номер телефона' | getString('Шапка')) }}
                </a>
                <a data-reachgoal="callback-button"
                   data-type="callback"
                   href="{{ sitePath('app_main.ajax_get_popup', { 'type': 'callback', 'route': page.route }) }}"
                   class="side-menu__callback mobile js-popup-open js-reachgoal">
                    {{ 'Заказать звонок' | getString('Шапка') }}
                </a>
                <div class="side-menu__socials mobile">
                    <a target="_blank" href="#" class="side-menu__social">
                        {{ source('svg/vk.svg') }}
                    </a>
                    <a target="_blank" href="#" class="side-menu__social">
                        {{ source('svg/fb.svg') }}
                    </a>
                    <a target="_blank" href="#" class="side-menu__social">
                        {{ source('svg/inst.svg') }}
                    </a>
                </div>
            </div>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </main>
    {{ render(controller('App\\Controller\\PartController::footer', {'request': app.request, 'page': page})) }}
    </body>
{% endblock %}
