{% extends 'base.html.twig' %}
{% block content %}
  <div class="reviews-page block">
    <div class="container-outer">
      <div class="container">
        <div class="breadcrumbs">
          <a href="/" class="breadcrumbs__link">Главная</a>
          <a href="/reviews" class="breadcrumbs__link">Отзывы</a>
        </div>
        <h1 class="page-title page-title_short">Отзывы</h1>
        <div class="reviews-page__item reviews-page__item_full">
          <div class="reviews-page__item-img"><img src="{{ asset('build/review-img-1.png') }}" alt="review"></div>
          <div class="reviews-page__item-info">
            <div class="reviews-page__item-position">Технический директор Euro Dom</div>
            <div class="reviews-page__item-name">Шлопак Михаил</div>
            <div class="reviews-page__item-text">Для выполнения нашего авторского замысла, мы искали исполнителя с
              собственным производством полного цикла. Наши поиски увенчались успехом и в лице фабрики «Interior
              Steel» мы обрели надежного производителя авторской мебели. Желаем им успеха во всех начинаниях.
            </div>
          </div>
        </div>
        <ul class="reviews-page__wrap">
          <li class="reviews-page__item">
            <div class="reviews-page__item-img"><img src="{{ asset('build/review-img-1.png') }}" alt="review"></div>
            <div class="reviews-page__item-info">
              <div class="reviews-page__item-position">Технический директор Euro Dom</div>
              <div class="reviews-page__item-name">Шлопак Михаил</div>
              <div class="reviews-page__item-text">Для выполнения нашего авторского замысла, мы искали исполнителя с
                собственным производством полного цикла.
              </div>
            </div>
          </li>
          <li class="reviews-page__item">
            <div class="reviews-page__item-img"><img src="{{ asset('build/review-img-1.png') }}" alt="review"></div>
            <div class="reviews-page__item-info">
              <div class="reviews-page__item-position">Технический директор Euro Dom</div>
              <div class="reviews-page__item-name">Шлопак Михаил</div>
              <div class="reviews-page__item-text">Для выполнения нашего авторского замысла, мы искали исполнителя с
                собственным производством полного цикла. Наши поиски увенчались успехом и в лице фабрики «Interior
                Steel» мы обрели надежного производителя авторской мебели. Желаем им успеха во всех начинаниях.
              </div>
            </div>
          </li>
          <li class="reviews-page__item">
            <div class="reviews-page__item-img"><img src="{{ asset('build/review-img-1.png') }}" alt="review"></div>
            <div class="reviews-page__item-info">
              <div class="reviews-page__item-position">Технический директор Euro Dom</div>
              <div class="reviews-page__item-name">Шлопак Михаил</div>
              <div class="reviews-page__item-text">Для выполнения нашего авторского замысла, мы искали исполнителя с
                собственным производством полного цикла. Наши поиски увенчались успехом и в лице фабрики «Interior
                Steel» мы обрели надежного производителя авторской мебели. Желаем им успеха во всех начинаниях.
              </div>
            </div>
          </li>
          <li class="reviews-page__item">
            <div class="reviews-page__item-img"><img src="{{ asset('build/review-img-2.png') }}" alt="review"></div>
            <div class="reviews-page__item-info">
              <div class="reviews-page__item-position">Технический директор Euro Dom</div>
              <div class="reviews-page__item-name">Шлопак Михаил</div>
              <div class="reviews-page__item-text">Не редко при создании серийной или авторской мебели нужны люди
                умеющие работать с металлом. При подборе подрядчика мы ориентировались на профессионалов в своём деле к
                которым можем смело отнести «Interior Steel». Мы рады, что мы по прежнему сотрудничаем и можем
                рассчитывать на «Interior Steel».
              </div>
            </div>
          </li>
          <li class="reviews-page__item">
            <div class="reviews-page__item-img"><img src="{{ asset('build/review-img-2.png') }}" alt="review"></div>
            <div class="reviews-page__item-info">
              <div class="reviews-page__item-position">Технический директор Euro Dom</div>
              <div class="reviews-page__item-name">Шлопак Михаил</div>
              <div class="reviews-page__item-text">Не редко при создании серийной или авторской мебели нужны люди
                умеющие работать с металлом. При подборе подрядчика мы ориентировались на профессионалов в своём деле к
                которым можем смело отнести «Interior Steel». Мы рады, что мы по прежнему сотрудничаем и можем
                рассчитывать на «Interior Steel».
              </div>
            </div>
          </li>
          <li class="reviews-page__item">
            <div class="reviews-page__item-img"><img src="{{ asset('build/review-img-2.png') }}" alt="review"></div>
            <div class="reviews-page__item-info">
              <div class="reviews-page__item-position">Технический директор Euro Dom</div>
              <div class="reviews-page__item-name">Шлопак Михаил</div>
              <div class="reviews-page__item-text">Не редко при создании серийной или авторской мебели нужны люди
                умеющие работать с металлом. При подборе подрядчика мы ориентировались на профессионалов в своём деле к
                которым можем смело отнести «Interior Steel». Мы рады, что мы по прежнему сотрудничаем и можем
                рассчитывать на «Interior Steel».
              </div>
            </div>
          </li>
          <li class="reviews-page__item">
            <div class="reviews-page__item-img"><img src="{{ asset('build/review-img-2.png') }}" alt="review"></div>
            <div class="reviews-page__item-info">
              <div class="reviews-page__item-position">Технический директор Euro Dom</div>
              <div class="reviews-page__item-name">Шлопак Михаил</div>
              <div class="reviews-page__item-text">Не редко при создании серийной или авторской мебели нужны люди
                умеющие работать с металлом. При подборе подрядчика мы ориентировались на профессионалов в своём деле к
                которым можем смело отнести «Interior Steel». Мы рады, что мы по прежнему сотрудничаем и можем
                рассчитывать на «Interior Steel».
              </div>
            </div>
          </li>
          <li class="reviews-page__item">
            <div class="reviews-page__item-img"><img src="{{ asset('build/review-img-2.png') }}" alt="review"></div>
            <div class="reviews-page__item-info">
              <div class="reviews-page__item-position">Технический директор Euro Dom</div>
              <div class="reviews-page__item-name">Шлопак Михаил</div>
              <div class="reviews-page__item-text">Не редко при создании серийной или авторской мебели нужны люди
                умеющие работать с металлом. При подборе подрядчика мы ориентировались на профессионалов в своём деле к
                которым можем смело отнести «Interior Steel». Мы рады, что мы по прежнему сотрудничаем и можем
                рассчитывать на «Interior Steel».
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}