{% extends 'layout.html.twig' %}
{% block content %}
    <div class="interior-detailed block">
        <div class="container-outer">
            <div class="container">
                {{ render(controller('App\\Controller\\PartController:breadcrumbs', {'page': page})) }}
                <h1 class="page-title">{{ page.h1 }}</h1>
                <div class="interior-detailed__slider-wrap">
                    <div class="interior-detailed__arrow-box">
                        {{ source('svg/arrow_left.svg') }}
                        <span class="interior-detailed__slider-counter"></span>
                        {{ source('svg/arrow_right.svg') }}
                    </div>
                    <div class="interior-detailed__slider mobile-swipe" id="interior-slider">
                        {% for item in page.pageGalleries %}
                        <div class="interior-detailed__slide">
                            <div class="interior-detailed__item">
                                <div class="interior-detailed__text">
                                    {{ item.text | raw }}
                                    <div class="interior-detailed__year">{{ item.title }}</div>
                                </div>
                                <div class="interior-detailed__img img">
                                    <img src="{{ item.getWebPath('image') | thumb(1032, 784) }}" alt="interior detailed">
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include('part/quality.html.twig') }}
    <div class="overlay overlay_interior">
        <div class="modal__close"></div>
        <div class="modal modal-slider">
            <div class="container-outer">
                <div class="modal__arrow modal__arrow_left"><i class="arrow"></i></div>
                <div class="modal__arrow modal__arrow_right"><i class="arrow"></i></div>
                <div class="modal-slider__arrow-box">
                    <span class="modal-slider__counter"></span>
                </div>
                <div class="modal-slider__wrap">
                    {% for item in page.pageGalleries %}
                    <div class="modal-slider__item-wrap">
                        <div class="modal-slider__item img"><img src="{{ item.getWebPath('originalImage') }}" alt="{{ item.title }}"></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
