{% extends 'base.html.twig' %}
{% block content %}
  <div class="interior block">
    <div class="container-outer">
      <div class="container">
        <div class="breadcrumbs">
          <a href="/" class="breadcrumbs__link">Главная</a>
          <a href="/interior" class="breadcrumbs__link">Интерьерные решения</a>
        </div>
        <h1 class="page-title page-title_short">Интерьерные решения</h1>
        <div class="interior__wrap">
          <a href="/interior/interior-detailed" class="interior__item">
            <div class="interior__item-img img"><img src="{{ asset('build/interior.png') }}" alt="interior img"></div>
            <div class="interior__item-box">
              <div class="interior__item-title">Салон красоты Топ Ган</div>
              <p class="interior__item-text">Чтобы изделие служило как можно дольше и не теряло свой товарный вид, мы с должным
                вниманием и ответственностью подходим ко всем этапам обработки металла. Для покраски мы используем
                порошковую краску, по нашему мнению, наилучшего качества, международного концерна AkzoNobel.</p>
            </div>
          </a>
          <a href="/interior/interior-detailed" class="interior__item">
            <div class="interior__item-img img"><img src="{{ asset('build/interior.png') }}" alt="interior img"></div>
            <div class="interior__item-box">
              <div class="interior__item-title">Салон красоты Топ Ган</div>
              <p class="interior__item-text">Чтобы изделие служило как можно дольше и не теряло свой товарный вид, мы с должным
                вниманием и ответственностью подходим ко всем этапам обработки металла. Для покраски мы используем
                порошковую краску, по нашему мнению, наилучшего качества, международного концерна AkzoNobel.</p>
            </div>
          </a>
          <a href="/interior/interior-detailed" class="interior__item">
            <div class="interior__item-img img"><img src="{{ asset('build/interior.png') }}" alt="interior img"></div>
            <div class="interior__item-box">
              <div class="interior__item-title">Салон красоты Топ Ган</div>
              <p class="interior__item-text">Чтобы изделие служило как можно дольше и не теряло свой товарный вид, мы с должным
                вниманием и ответственностью подходим ко всем этапам обработки металла. Для покраски мы используем
                порошковую краску, по нашему мнению, наилучшего качества, международного концерна AkzoNobel.</p>
            </div>
          </a>
          <div class="interior__item empty"></div>
          <a href="/interior/interior-detailed" class="interior__item">
            <div class="interior__item-img img"><img src="{{ asset('build/interior.png') }}" alt="interior img"></div>
            <div class="interior__item-box">
              <div class="interior__item-title">Салон красоты Топ Ган</div>
              <p class="interior__item-text">Чтобы изделие служило как можно дольше и не теряло свой товарный вид, мы с должным
                вниманием и ответственностью подходим ко всем этапам обработки металла. Для покраски мы используем
                порошковую краску, по нашему мнению, наилучшего качества, международного концерна AkzoNobel.</p>
            </div>
          </a>
          <a href="/interior/interior-detailed" class="interior__item">
            <div class="interior__item-img img"><img src="{{ asset('build/interior.png') }}" alt="interior img"></div>
            <div class="interior__item-box">
              <div class="interior__item-title">Салон красоты Топ Ган</div>
              <p class="interior__item-text">Чтобы изделие служило как можно дольше и не теряло свой товарный вид, мы с должным
                вниманием и ответственностью подходим ко всем этапам обработки металла. Для покраски мы используем
                порошковую краску, по нашему мнению, наилучшего качества, международного концерна AkzoNobel.</p>
            </div>
          </a>
          <a href="/interior/interior-detailed" class="interior__item">
            <div class="interior__item-img img"><img src="{{ asset('build/interior.png') }}" alt="interior img"></div>
            <div class="interior__item-box">
              <div class="interior__item-title">Салон красоты Топ Ган</div>
              <p class="interior__item-text">Чтобы изделие служило как можно дольше и не теряло свой товарный вид, мы с должным
                вниманием и ответственностью подходим ко всем этапам обработки металла. Для покраски мы используем
                порошковую краску, по нашему мнению, наилучшего качества, международного концерна AkzoNobel.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  {{ include('partials/quality.html.twig') }}
{% endblock %}