{% extends 'layout.html.twig' %}
{% block content %}
  <div class="contacts page-text">
    <div class="container-outer">
      <div class="container">
        {{ render(controller('App\\Controller\\PartController:breadcrumbs', {'page': page})) }}
        <h1 class="page-title page-title_short">{{ page.h1 }}</h1>
      </div>
    </div>
    <div class="map">
      <div class="container-outer">
        <div class="container">
          <div class="map__box">
            <div class="map__box-container">
              <a href="tel:{{ page.mapPhone   | replace({" ": "", "-": "", "(": "", ")": ""}) }}">{{ page.mapPhone }}</a>
              <a href="mailto:{{ page.mapEmail }}">{{ page.mapEmail }}</a>
              <address>{{ page.mapAddress | raw }}</address>
              <div class="map__box-button button">Отправить сообщение</div>
            </div>
          </div>
        </div>
      </div>
      <div id="googleMap" class="map__wrap"></div>
    </div>
  </div>
  <div class="overlay">
    <div class="modal__close"></div>
    <div class="modal modal-msg">
      <div class="modal-msg__title">Отправить сообщение</div>
      <div class="modal-msg__desc"><p>Кратко опишите что нужно изготовить, либо задайте интересующий вас вопрос</p></div>
      <form class="modal-msg__form" id="callback-msg">
        <div class="modal-msg__row">
          <div class="modal-msg__field">
            <label for="callback_msg_name" class="modal-msg__label">Ваше имя</label>
            <input type="text" class="modal-msg__input" id="callback_msg_name">
          </div>
          <div class="modal-msg__field">
            <label for="callback_msg_phone" class="modal-msg__label">Номер телефона</label>
            <input type="tel" class="modal-msg__input" id="callback_msg_phone">
          </div>
          <div class="modal-msg__field">
            <label for="callback_msg_email" class="modal-msg__label">Электронная почта</label>
            <input type="email" class="modal-msg__input" id="callback_msg_email">
          </div>
        </div>
        <div class="modal-msg__row">
          <div class="modal-msg__field">
            <label for="callback_msg_text" class="modal-msg__label">Ваше сообщение</label>
            <textarea class="modal-msg__textarea" name="callback_msg_text" id="callback_msg_text"></textarea>
          </div>
        </div>
        <div class="modal-msg__row-submit">
          <div class="modal-callback__checkbox">
            <input type="checkbox" class="checkbox" id="msg-checkbox">
            <label for="msg-checkbox">Нажимая кнопку «Отправить», вы соглашаетесь с <a href="/politika_konfidentsialnosti" class="green">условиями</a> обработки и использования персональных данных</label>
          </div>
          <input type="submit" value="Отправить" class="modal-msg__submit button">
        </div>
      </form>
    </div>
  </div>
  <script src="https://api-maps.yandex.ru/2.1/?apikey={{ page.mapKey }}&lang=ru_RU"></script>
  <script>
    function initMap() {
        var point = [{{ page.mapLat }}, {{ page.mapLng }}];
        var myMap = new ymaps.Map(document.getElementById("googleMap"), {
            center: point,
            zoom: 17
        });
        myMap.behaviors.disable('scrollZoom');
        var myPlacemark = new ymaps.Placemark(point);
        myMap.geoObjects.add(myPlacemark);
    }
    ymaps.ready(initMap);
  </script>
{% endblock %}
