{% extends 'layout.html.twig' %}
{% block content %}
  <div class="contacts page-text">
    <div class="container-outer">
      <div class="container">
        {{ render(controller('App\\Controller\\PartController:breadcrumbs', {'page': page})) }}
        <h1 class="page-title page-title_short">{{ page.h1 }}</h1>
      </div>
    </div>
    <div class="map">
      <div class="container-outer">
        <div class="container">
          <div class="map__box">
            <div class="map__box-container">
              <a href="tel:{{ page.mapPhone   | replace({" ": "", "-": "", "(": "", ")": ""}) }}">{{ page.mapPhone }}</a>
              <a href="mailto:{{ page.mapEmail }}">{{ page.mapEmail }}</a>
              <address>{{ page.mapAddress | raw }}</address>
              <div class="map__box-button button">Отправить сообщение</div>
            </div>
          </div>
        </div>
      </div>
      <div id="googleMap" class="map__wrap"></div>
    </div>
  </div>
  <div class="overlay">
    <div class="modal__close"></div>
    <div class="modal modal-msg">
      <div class="modal-msg__title">Отправить сообщение</div>
      <div class="modal-msg__desc"><p>Кратко опишите что нужно изготовить, либо задайте интересующий вас вопрос</p></div>
      <form class="modal-msg__form" id="callback-msg">
        <div class="modal-msg__row">
          <div class="modal-msg__field">
            <label for="callback_msg_name" class="modal-msg__label">Ваше имя</label>
            <input type="text" class="modal-msg__input" id="callback_msg_name">
          </div>
          <div class="modal-msg__field">
            <label for="callback_msg_phone" class="modal-msg__label">Номер телефона</label>
            <input type="tel" class="modal-msg__input" id="callback_msg_phone">
          </div>
          <div class="modal-msg__field">
            <label for="callback_msg_email" class="modal-msg__label">Электронная почта</label>
            <input type="email" class="modal-msg__input" id="callback_msg_email">
          </div>
        </div>
        <div class="modal-msg__row">
          <div class="modal-msg__field">
            <label for="callback_msg_text" class="modal-msg__label">Ваше сообщение</label>
            <textarea class="modal-msg__textarea" name="callback_msg_text" id="callback_msg_text"></textarea>
          </div>
        </div>
        <div class="modal-msg__check">
          <span>Нажимая кнопку «Отправить», вы соглашаетесь с <a href="/politika_konfidentsialnosti" class="green">условиями</a> обработки и использования персональных данных</span>
          <input type="submit" value="Отправить" class="modal-msg__submit button">
        </div>
      </form>
    </div>
  </div>
  <script>
    function myMap() {
      const office = {lat: {{ page.mapLat }}, lng: {{ page.mapLng }} };
      var mapProp = {
        center: new google.maps.LatLng({{ page.mapLat }}, {{ page.mapLng }} ),
        zoom: 17,
        disableDefaultUI: true,
      };
      var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
      const marker = new google.maps.Marker({map, position: office});
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ page.mapKey }}&language=ru&callback=myMap"></script>
{% endblock %}
