{% extends 'layout.html.twig' %}
{% block content %}
    <div class="about block page-text">
        <div class="container-outer">
            <div class="container">
                {{ render(controller('App\\Controller\\PartController:breadcrumbs', {'page': page})) }}
                <h1 class="page-title page-title_short">{{ page.h1 }}</h1>
            </div>
        </div>
    </div>
    <div class="map">
        <div class="container-outer">
            <div class="container">
                <div class="map__box">
                    <div class="map__box-title title">{{ 'Контакты' | getString('Главная') }}</div>
                    <div class="map__box-container">
                        <a href="tel:{{ page.mapPhone   | replace({" ": "", "-": "", "(": "", ")": ""})  }}">{{ page.mapPhone }}</a>
                        <a href="mailto:{{ page.mapEmail }}">{{ page.mapEmail }}</a>
                        <address>{{ page.mapAddress | raw }}</address>
                    </div>
                </div>
            </div>
        </div>
        <div id="googleMap" class="map__wrap"></div>
    </div>
    <div class="about block page-text">
        <div class="container-outer">
            <div class="container">
                <div class="about__wrap">
                    {{ page.text |  raw }}
                </div>
            </div>
        </div>
    </div>
    <script>
        function myMap() {
            const office = {lat: {{ page.mapLat }}, lng: {{ page.mapLng }} };
            var mapProp = {
                center: new google.maps.LatLng({{ page.mapLat }}, {{ page.mapLng }} ),
                zoom: 17,
                disableDefaultUI: true,
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            const marker = new google.maps.Marker({map, position: office});
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ page.mapKey }}&language=ru&callback=myMap"></script>
{% endblock %}
