<section class="catalog">
    <div class="container">
        <div class="row js-load-container">
            <div class="col-lg-12">  
                <div class="catalog-wrapper">
            {% for key, item in catalog.getChildren([catalogArticleClass]) %}
                    
                        <div class="cat-box {% if key > 7 %} dn{% endif %} js-load-block">
                            <div class="cat-image">
                                <a href="{{ sitePath(item.route) }}">
                                    <img src="{{ item.getWebPath('image') | thumb(320,190) }}" alt="{{ item.menutitle }}">
                                </a>
                            </div>
                            <h3>{{ item.menutitle }}</h3>
                            <div class="wrap">
                                <ul>
                                    {% for subitem in item.getChildren([catalogArticleClass]) %}
                                        <li>
                                            <a href="{{ sitePath(subitem.route) }}">{{ subitem.menutitle }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                     {% endfor %}
                </div>
            </div>

            {% if catalog.getChildren([catalogArticleClass]) | length > 8 %}
            <div class="col-lg-12 text-center">
                <button class="btn btn-red btn-all js-show-more">Показать еще</button>
            </div>
            {% endif %}
        </div>
    </div>
</section>
