{% extends 'base.html.twig' %}
{% block content %}
  <div class="category-page block">
    <div class="container-outer">
      <div class="container">
        <div class="breadcrumbs">
          <a href="/" class="breadcrumbs__link">Главная</a>
          <a href="/catalog" class="breadcrumbs__link">Каталог</a>
          <a href="/category" class="breadcrumbs__link">Мебель для баров, кафе и ресторанов</a>
        </div>
        <h1 class="page-title page-title_short">Мебель для баров, кафе и ресторанов</h1>
        <div class="catalog-page__wrap">
          <div class="catalog-page__item">
            <div class="catalog-page__img">
              <img src="{{ asset('build/category-1.png') }}" alt="category-img">
            </div>
            <a href="/catalog/catalog-detailed" class="portfolio__gallery-link">
              <span class="portfolio__gallery-title">Стол и стулья</span>
              <p class="portfolio__gallery-desc">Металлическая мебель для ресторана</p>
            </a>
          </div>
          <div class="catalog-page__item">
            <div class="catalog-page__img">
              <img src="{{ asset('build/category-2.png') }}" alt="category-img">
            </div>
            <a href="/catalog/catalog-detailed" class="portfolio__gallery-link">
              <span class="portfolio__gallery-title">Стол и стулья</span>
              <p class="portfolio__gallery-desc">Металлическая мебель для ресторана</p>
            </a>
          </div>
          <div class="catalog-page__item">
            <div class="catalog-page__img">
              <img src="{{ asset('build/category-3.png') }}" alt="category-img">
            </div>
            <a href="/catalog/catalog-detailed" class="portfolio__gallery-link">
              <span class="portfolio__gallery-title">Стол и стулья</span>
              <p class="portfolio__gallery-desc">Металлическая мебель для ресторана</p>
            </a>
          </div>
          <div class="catalog-page__item">
            <div class="catalog-page__img">
              <img src="{{ asset('build/category-4.png') }}" alt="category-img">
            </div>
            <a href="/catalog/catalog-detailed" class="portfolio__gallery-link">
              <span class="portfolio__gallery-title">Стол и стулья</span>
              <p class="portfolio__gallery-desc">Металлическая мебель для ресторана</p>
            </a>
          </div>
          <div class="catalog-page__item">
            <div class="catalog-page__img">
              <img src="{{ asset('build/category-5.png') }}" alt="category-img">
            </div>
            <a href="/catalog/catalog-detailed" class="portfolio__gallery-link">
              <span class="portfolio__gallery-title">Стол и стулья</span>
              <p class="portfolio__gallery-desc">Металлическая мебель для ресторана</p>
            </a>
          </div>
          <div class="catalog-page__item">
            <div class="catalog-page__img">
              <img src="{{ asset('build/category-6.png') }}" alt="category-img">
            </div>
            <a href="/catalog/catalog-detailed" class="portfolio__gallery-link">
              <span class="portfolio__gallery-title">Стол и стулья</span>
              <p class="portfolio__gallery-desc">Металлическая мебель для ресторана</p>
            </a>
          </div>
          <div class="catalog-page__item">
            <div class="catalog-page__text">Металлический блеск — это первое что приходит на ум когда мы говорим о
              металле. На наших производственных площадях мы можем отполировать любую металлическую поверхность до
              зеркального блеска так , что вы сможете увидеть своё отражение.
            </div>
          </div>
          <div class="catalog-page__item">
            <div class="catalog-page__img">
              <img src="{{ asset('build/category-7.png') }}" alt="category-img">
            </div>
            <a href="/catalog/catalog-detailed" class="portfolio__gallery-link">
              <span class="portfolio__gallery-title">Стол и стулья</span>
              <p class="portfolio__gallery-desc">Металлическая мебель для ресторана</p>
            </a>
          </div>
          <div class="catalog-page__item">
            <div class="catalog-page__img">
              <img src="{{ asset('build/category-8.png') }}" alt="category-img">
            </div>
            <a href="/catalog/catalog-detailed" class="portfolio__gallery-link">
              <span class="portfolio__gallery-title">Стол и стулья</span>
              <p class="portfolio__gallery-desc">Металлическая мебель для ресторана</p>
            </a>
          </div>
          <div class="catalog-page__item">
            <div class="catalog-page__img">
              <img src="{{ asset('build/category-9.png') }}" alt="category-img">
            </div>
            <a href="/catalog/catalog-detailed" class="portfolio__gallery-link">
              <span class="portfolio__gallery-title">Стол и стулья</span>
              <p class="portfolio__gallery-desc">Металлическая мебель для ресторана</p>
            </a>
          </div>
          <div class="catalog-page__item">
            <div class="catalog-page__img">
              <img src="{{ asset('build/category-10.png') }}" alt="category-img">
            </div>
            <a href="/catalog/catalog-detailed" class="portfolio__gallery-link">
              <span class="portfolio__gallery-title">Стол и стулья</span>
              <p class="portfolio__gallery-desc">Металлическая мебель для ресторана</p>
            </a>
          </div>
          <div class="catalog-page__item">
            <div class="catalog-page__img">
              <img src="{{ asset('build/category-11.png') }}" alt="category-img">
            </div>
            <a href="/catalog/catalog-detailed" class="portfolio__gallery-link">
              <span class="portfolio__gallery-title">Стол и стулья</span>
              <p class="portfolio__gallery-desc">Металлическая мебель для ресторана</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ include('partials/quality.html.twig') }}
{% endblock %}